<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" a href="./css/style.css">
    <script src="/web-serve/src/app.js"></script>
    <title>About Weather App</title>
</head>
<body>
    <h1>{{>header}}</h1>
    <img src="./img/HD-wallpaper-the-witcher-forest-house-luminos-game-man-horse-tree-fantasy-green-mansion.jpeg">
    <p>Created By: {{name}}</p>
</body>
</html>