body{
    background-color: white;
}
.pageLogin{
    background-color: gray;
    width: 80vh;
    height:100vh;
    display: flex;
}
.btn-link {
    display: flex;
    align-items: right;
    color: black;
}

.all {
    margin-left: 5rem;

}
.form-control{
    width: 25rem;
    height: 3rem;
    border-radius: 12px;
    border-color: black;
}